<div class="specific_method">
  <%= label(object_name, method, template[:label]) %><br/>
  <%= text_field(object_name, :text_field, options) %><br/>
  <%= text_area(object_name, :text_area, options) %>
</div>
