<div class="other_custom_field">
  <%= text_field(object_name, :text_field, options) %><br/>
  <%= text_area(object_name, :text_area, options) %>
  <p class="hint">Hint me other_custom_field.</p>
</div>
