<div class="radio_button_field">
  <%= label(object_name, method, template[:label]) %><br/>
  <%= radio_button(object_name, method, tag_value, options) %>
  <p class="hint"><%= template[:hint] %></p>
</div>
