<div class="simple_form_field">
  <%= form.label attribute_name, label_options %>
  <%= form.input attribute_name, input_options %>
  <%= form.hint attribute_name, hint_options %>
  <%= form.full_error attribute_name, error_options %>
</div>
